@model IEnumerable<NetworkMVC.Models.MessageWithNames>

@{
    ViewBag.Title = "Message";
}

<h2>Message box</h2>


@using (Html.BeginForm())
{
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    Uri uri = new Uri(url);
    int leaf = int.Parse(uri.Segments.Last());
    <div class="form-horizontal">
        <h4>Message</h4>
        <hr />
        <form action="~/Message/Index" method="post">
            <label for="message">Message:</label>
            <textarea class="form-control" rows="5" id="message" style="resize: none;" name="message"></textarea>
            <input type="hidden" name="idFriend" id="idFriend" value="@leaf" />
            <button type="submit"style="margin:10px;" name="Send">Send</button>
        </form>
    </div>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td style="word-break: break-all">
                @Html.DisplayFor(modelItem => item.MessageValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageDate)
            </td>
        </tr>
    }
</table>


